<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bible.bible_study_back.mapper.AdminMapper">

    <!--모든 데이터-->
    <select id="findByPBS" resultType="com.bible.bible_study_back.dto.AdminDto">
        select * from admin;
    </select>

    <!--수정-->
    <update id="editPBS">
        update admin set
        book       = #{admin.book},
        chapter    = #{admin.chapter},
        startVerse = #{admin.startVerse},
        endVerse   = #{admin.endVerse},
        startDate  = #{admin.startDate},
        endDate    = #{admin.endDate},
        evangelize = #{admin.evangelize}
    </update>

</mapper>