<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bible.bible_study_back.mapper.PBSMapper">

    <!--모든 데이터-->
    <select id="findAllPBS" resultType="com.bible.bible_study_back.dto.PBSDto">
        select * from pbs where showData="Y" order by id desc;
    </select>

    <!--PBS 게시판-->
    <select id="findByPagePBS" resultType="com.bible.bible_study_back.dto.PBSDto">
        select * from pbs
        where showData = "Y"
        order by id desc limit #{count} offset #{offset};
    </select>

    <!--PBS My Page-->
    <select id="getMyPbs" resultType="com.bible.bible_study_back.dto.PBSDto">
        select * from pbs
        where userId = #{userId}
        order by id desc limit #{count} offset #{offset};
    </select>

    <!--PBS My Page Count-->
    <select id="getMyPbsCount" resultType="Integer">
        select count(*) from pbs
        where userId = #{userId};
    </select>

    <!--PBS 상세 페이지-->
    <select id="findByOne" resultType="com.bible.bible_study_back.dto.PBSDto">
        select * from pbs where id = #{id};
    </select>

    <!--PBS 게시판 개수-->
    <select id="findCountPBS" resultType="Integer">
        select count(*) from pbs;
    </select>

    <!--PBS 생성-->
    <insert id="createPBS">
        insert into
        pbs(book, chapter, startVerse, endVerse, content, userName, userId, date, showData)
        values
        (
            #{pbs.book},
            #{pbs.chapter},
            #{pbs.startVerse},
            #{pbs.endVerse},
            #{pbs.content},
            #{pbs.userName},
            #{pbs.userId},
            #{pbs.date},
            #{pbs.showData}
        );
    </insert>

    <!--PBS 수정-->
    <update id="updatePBS">
        update pbs set
            book        = #{pbs.book},
            chapter     = #{pbs.chapter},
            startVerse  = #{pbs.startVerse},
            endVerse    = #{pbs.endVerse},
            content     = #{pbs.content},
            date        = #{pbs.date},
            showData    = #{pbs.showData}
        where id = #{pbs.id};
    </update>

    <!--PBS 삭제-->
    <delete id="deletePBS">
        delete from pbs where id=#{id};
    </delete>

</mapper>