<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bible.bible_study_back.mapper.QTMapper">

    <!--모든 데이터-->
    <select id="findAll" resultType="com.bible.bible_study_back.dto.QTDto">
        select * from qt;
    </select>

    <!--QT 게시판 생성-->
    <select id="findByPageQT" resultType="com.bible.bible_study_back.dto.QTDto">
        select * from qt
        where showData = "Y"
        order by id desc limit #{count} offset #{offset};
    </select>

    <!--QT 상세 페이지-->
    <select id="findByOneQT" resultType="com.bible.bible_study_back.dto.QTDto">
        select * from qt where id = #{id};
    </select>

    <!--QT 생성-->
    <insert id="createQT">
        insert into qt(book, chapter, startVerse, endVerse, content, userName, userId, date, showData)
        values
            (
            #{qt.book},
            #{qt.chapter},
            #{qt.startVerse},
            #{qt.endVerse},
            #{qt.content},
            #{qt.userName},
            #{qt.userId},
            #{qt.date},
            #{qt.showData}
        );
    </insert>


    <!--QT 수정-->


    <!--QT 삭제-->


</mapper>